* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;}
  
nav {
height: 90px;
background: #222222;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc((100vw - 1300px) / 14);}
  
nav a {
text-decoration: underline;
color: #bebebe;
background: none;
padding: 0 1.1rem;
font-size: 1.0rem;}
      
nav a:hover {
color: #ffffff;
border-radius: 2rem;}

.navdesign {
display: flex;
justify-content: flex-start;}
    
.nav-bar-img {
width: 120.0rem;
height: 0.15rem;
border-radius: 5rem 5rem 100rem;
opacity: 60%;}
        
.logo {
color: #cbcbcb;
font-size: 1.3rem;
font-weight: bold;
font-style: italic;
padding: 0 0rem;}
  
.hero {
background: #1e1e1e;}

.bar-logo {
display: flex;
justify-content: flex-start;}
        
.nav-image {
width: 37.5rem;
height: 0.7rem;
border-radius: 5rem 5rem 100rem;
margin-top: -1.4rem;}
  
.hero-container {
display:block;
grid-template-columns: 1fr 1fr;
height: 95vh;
padding: 2rem calc((100vw - 1300px) / 2);}
  
.centertext {
display:flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;
color: #cbcbcb;
padding: 1rem 20rem;}

.centertext titlu {
margin-bottom: -1.2rem;
font-size: 3rem;
text-decoration: underline;}

.centertext2 {
display: flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;
color: #cbcbcb;
padding: 2rem 2rem;}

.centertext2 titlu2 {
margin-bottom: 1rem;
font-size: 3.5rem;
color: red;}

.wip {
display: flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;}

.under-construction {
width: 350px;
height: 350px;}

.pagend {
background: #1e1e1e;}
            
.end-logo {
display: flex;
justify-content: flex-start;}
            
.end-bar-image {
width: 120.0rem;
height: 0.7rem;
border-radius: 5rem 5rem 100rem;
margin-top: -1.4rem;}
            
.pagend-container {
display: center;
grid-template-columns: 10fr 1fr;
height: 11vh;
padding: 0rem calc((100vw - 100px) / 2.1);}

.socialdesign1 {
display: flex;
justify-content: flex-start;}
          
.bar-social1 {
width: 10rem;
height: 0.16rem;
border-radius: 5rem 5rem 100rem;
margin-top: 0.5rem;
opacity: 60%;}         
            
.end-items {
height:70px;
background: #1e1e1e;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -0.5rem;}
            
.fb-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
              
.fb-end span {
z-index:1;}
            
.fb-end:hover {
box-shadow: 0 0 20px red;}
              
.in-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
              
.in-end span {
z-index: 1}
            
.in-end:hover {
box-shadow: 0 0 20px red;}
              
.wapp-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
              
.wapp-end span {
z-index: 1;}
            
.wapp-end:hover {
box-shadow: 0 0 20px red;}

.socialdesign2 {
display: flex;
justify-content: flex-start;}
                  
.bar-social2 {
width: 10rem;
height: 0.16rem;
border-radius: 5rem 5rem 100rem;
margin-top: -0.75rem;
opacity: 60%;}        
            
.infoe {
background: #1e1e1e;}
            
.infoe-container {
display: center;
grid-template-columns: 10fr 1fr;
height: 11vh;
padding: 0rem calc((100vw - 100px) / 3);} 
              
.infoe-items {
height:32px;
background: #1e1e1e;
display: grid;
justify-content: center;
align-items: center;}
              
.infoe-items txt {
margin-top: 0.7rem;    
display: flex;
padding: 0.3rem 0.4rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.9rem;
letter-spacing: 0.2px;
height: 30px;
text-decoration: underline;
color: black;
border: none;
background: #c5c5c5;
cursor: pointer;
transition: all 0.2s ease;
position: relative;}
            
.infoe-items txt span {
z-index: 1;}     
                  
.infoe-items txt::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.2s ease;}
            
.infoe-items txt:hover {
transition: all 0.2s ease;    
background: white;
box-shadow: 0 0 14px rgb(11, 157, 255);
letter-spacing: 0.7px;}
            
.infoe-items txt:hover::before {
width: 100%;}      
      
.essentials {
      background: #1e1e1e;}
          
      .essentials-container {
      display: flex;
      grid-template-columns: 11fr 1fr;
      height: 30px;} 
          
      .essentials-items {
      background: #1e1e1e;
      display: flex;
      justify-content: space-between;
      align-items: flex;}
          
      .essentials rights {
      margin-top: 0px;
      display: flex;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      font-style: oblique;
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      color: white;
      text-decoration: underline;
      text-decoration-color: #1e1e1e;}
          
      .essentials ver {
      margin-top: 0.1px;
      display: flex;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      font-style: oblique;
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      color: white;
      text-decoration: underline;
      text-decoration-color: #1e1e1e;}

      .essentials updated {
      margin-top: 0.1px;
      display: flex;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      font-style: oblique;
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      color: white;
      text-decoration: underline;
      text-decoration-color: #1e1e1e;}

 @media screen and (max-width: 768px) {
 .hero-container {
 grid-template-columns: 1fr;}}