* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;}

nav {
height: 90px;
background: #222222;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc((100vw - 1300px) /14);}

nav a {
text-decoration: underline;
color: #bebebe;
background: none;
padding: 0 1.1rem;
font-size: 1.0rem;}
  
nav a:hover {
color:#ffffff;
border-radius: 2rem;}

.logo {
color: #cbcbcb;
font-size: 1.3rem;
font-weight: bold;
font-style: italic;
padding: 0 0rem;}

.hero {
background: #1e1e1e;}

button {
text-decoration: none;
color: #000;
padding: 0 1.5rem;}

button:hover {
color: #fff;}

.navdesign1 {
display: flex;
justify-content: flex-start;}
    
.nav-bar-img1 {
width: 120.0rem;
height: 0.15rem;
border-radius: 5rem 5rem 100rem;
opacity: 60%;}

.hero {
background-image: url("cpu.png");
background-repeat: no-repeat;
background-size:auto;
background-position: 1px;}

.bar-logo {
display: flex;
justify-content: flex-start;}

.nav-image {
width: 37.5rem;
height: 0.7rem;
border-radius: 5rem 5rem 100rem;
margin-top: -1.4rem;}

.hero-container {
display: grid;
grid-template-columns: 1fr 1fr;
height: 70vh;
padding: 2rem calc((100vw - 1300px) / 2);}

.column-left {
display: flex;
flex-direction: column;
justify-content: column;
align-items: flex-start;
color: #cbcbcb;
padding: 5rem 1.3rem;}

.column-left t1 {
margin-bottom: 1rem;
font-size: 4rem;
text-shadow: 1px 4px 8px rgba(227, 0, 0, 0.6);}

.column-left t2 {
margin-bottom: 1rem;
font-size: 1.5rem;
line-height: 1.1;
text-shadow: 1px 4px 8px rgba(227, 0, 0, 0.6);}

.button1 a {
margin-bottom: 0.6rem;
display: flex;
padding: 0.4rem 1rem;
font-size: 1.2rem;
border: none;
color: #000;
background: #a39d9d;
cursor: pointer;
border-radius: 70rem;
text-decoration: none;
letter-spacing: 0.2px;
height: 35px;
transition: all 0.1s ease;
position: relative;}
    
.button1 a span {
z-index: 1;}
      
.button1 a::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.1s ease;}
      
.button1 a:hover {
background: #fff;
color: #000;
transition: all 0.1s ease;
letter-spacing: 0.4px;}
      
button1:hover::before {
width: 100%;}

.button2 a {
display: flex;
margin-bottom: 0.6rem;
padding: 0.4rem 1rem;
font-size: 1.2rem;
border: none;
color: #000;
background: #a39d9d;
cursor: pointer;
border-radius: 70rem;
text-decoration: none;
letter-spacing: 0.2px;
height: 35px;
transition: all 0.1s ease;
position: relative;}

.button2 a span {
z-index: 1;}

.button2 a::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.1s ease;}

.button2 a:hover {
background: #fff;
color: #000;
transition: all 0.1s ease;
letter-spacing: 0.4px;}

.button2 a:hover::before {
width: 100%;}

.button3 a {
display: flex;
padding: 0.4rem 1rem;
font-size: 1.2rem;
border: none;
color: #000;
background: #a39d9d;
cursor: pointer;
border-radius: 70rem;
text-decoration: none;
letter-spacing: 0.2px;
height: 35px;
transition: all 0.1s ease;
position: relative;}

.button3 a span {
z-index: 1;}
  
.button3 a::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.1s ease;}
  
.button3 a:hover {
background: #fff;
color: #000;
transition: all 0.1s ease;
letter-spacing: 0.4px;}
  
.button3:hover::before {
width: 100%;}

.hero-image {
width: 85%;
height:80%;}

.pagend {
background: #1e1e1e;}
 
.navdesign2 {
display: flex;
justify-content: flex-start;}
        
.nav-bar-img2 {
margin-top: -4px;
width: 120.0rem;
height: 0.16rem;
border-radius: 5rem 5rem 100rem;
opacity: 100%;}

.end-logo {
display: flex; 
justify-content: flex-start;}
        
.end-bar-image {
background: #1e1e1e;
width: 120.0rem; 
height: 0.7rem;
border-radius: 5rem 5rem 100rem;}
    
.pagend-container {
background: #1e1e1e;
display: center; 
grid-template-columns: 10fr 1fr;
height: 11vh;
padding: 0rem calc((100vw - 100px) / 2.1);}
    
.socialdesign1 {
display: flex;
justify-content: flex-start;}
    
.bar-social1 {
width: 9rem;
height: 0.15rem;
border-radius: 5rem 5rem 100rem;
margin-top: 0.6rem;
opacity: 60%;} 
        
.end-items {
height:70px;
background: #1e1e1e;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -0.5rem;}
        
.fb-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
          
.fb-end span {
z-index:1;}
        
.fb-end:hover {
 box-shadow: 0 0 20px red;}
          
.in-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
          
.in-end span {
z-index: 1}
        
.in-end:hover {
box-shadow: 0 0 20px red;}
          
.wapp-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
          
.wapp-end span {
z-index: 1;}
        
.wapp-end:hover {
box-shadow: 0 0 20px red;}
    
.socialdesign2 {
display: flex;
justify-content: flex-start;}
    
.bar-social2 {
width: 9rem;
height: .15rem;
border-radius: 5rem 5rem 100rem;
margin-top: -0.7rem;
opacity: 60%;}
        
.infoe {
background: #1e1e1e;}
        
.infoe-container {
display: center;
grid-template-columns: 10fr 1fr;
height: 11vh;
padding: 0rem calc((100vw - 100px) / 3);} 
          
.infoe-items {
height:32px;
background: #1e1e1e;
display: grid;
justify-content: center;
align-items: center;}
          
.infoe-items txt {
margin-top: 0.7rem;
display: flex;
padding: 0.3rem 0.4rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.9rem;
letter-spacing: 0.2px;
height: 30px;
text-decoration: underline;
color: black;
border: none;
background: #c5c5c5;
cursor: pointer;
transition: all 0.2s ease;
position: relative;}
        
.infoe-items txt span {
z-index: 1;}     
              
.infoe-items txt::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.2s ease;}
        
.infoe-items txt:hover {
transition: all 0.2s ease;    
background: white;
box-shadow: 0 0 14px rgb(11, 157, 255);
letter-spacing: 0.7px;}
        
.infoe-items txt:hover::before {
width: 100%;}      
    
.essentials {
background: #1e1e1e;}
              
.essentials-container {
display: flex; 
grid-template-columns: 11fr 1fr;
height: 30px;} 
              
.essentials-items {
background: #1e1e1e;
display: flex;
justify-content: space-between;
align-items: flex;}
              
.essentials rights {
margin-top: 0px;
display: flex;
padding: 0.3rem 1rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.8rem;
letter-spacing: 0.5px;
color: white;
text-decoration: underline;
text-decoration-color: #1e1e1e;}
              
.essentials ver {
margin-top: 0.1px;
display: flex;
padding: 0.3rem 1rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.8rem;
letter-spacing: 0.5px;
color: white;
text-decoration: underline;
text-decoration-color: #1e1e1e;}

.essentials updated {
margin-top: 0.1px;
display: flex;
padding: 0.3rem 1rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.8rem;
letter-spacing: 0.5px;
color: white;
text-decoration: underline;
text-decoration-color: #1e1e1e;}
    
@media screen and (max-width: 768px) {
.hero-container {
grid-template-columns: 1fr;}}
