* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;}

nav {
  height: 90px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 14);}

nav a {
text-decoration: underline;
color: #bebebe;
background: none;
padding: 0 1.1rem;
font-size: 1.0rem;}
    
nav a:hover {
color: #ffffff;
border-radius: 2rem;}
      
.logo {
  color: #cbcbcb;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 0rem;}

.hero {
  background: #1e1e1e;}

.bar-logo {
      display: flex;
      justify-content: flex-start;}
      
.nav-image {
      width: 37.0rem;
      height: 0.7rem;
      border-radius: 5rem 5rem 100rem;
      margin-top: -1.4rem;}

.hero-container {
  display:block;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  padding: 2rem calc((100vw - 1300px) / 2);}

.centertext {
  display:flex;
  flex-direction: center;
  justify-content: center;
  align-items: flex-start;
  color: #cbcbcb;
  padding: 1rem 20rem;}

.centertext titlu {
  margin-bottom: -1.2rem;
  font-size: 3rem;}


.middlepro1 {
background: #1e1e1e;}

.middlebar1 {
  display: flex;
  justify-content: flex-start;}

 .pro-bar1 {
  width: 60.0rem;
  height: 0.4rem;
  border-radius: 5rem 5rem 100rem;
  margin-bottom: -1.0rem;}

.middlepro1-container {
  display:block;
  grid-template-columns: 1fr 1fr;
  height: 65vh;
  padding: 2rem calc((100vw - 1300px) / 2);}

.middletext {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: flex-start;
  color: #cbcbcb;
  padding: 0rem 1.3rem;}

.middletext1 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: rgb(176, 175, 175);}

 .middletext2 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: rgb(176, 175, 175);} 

.middletext3 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: rgb(176, 175, 175);}

.middletext4 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: rgb(176, 175, 175);}

.middle-bar2 {
  display: flex;
  justify-content: flex-start;}

.pro-bar2 {
  width: 60.0rem;
  height: 0.4rem;
  border-radius: 5rem 5rem 100rem;
  margin-top: -16.5rem;}


.pagend {
  background: #1e1e1e;}

.end-logo {
display: flex;
justify-content: flex-start;}

.end-bar-image {
width: 94.0rem;
height: 0.7rem;
border-radius: 5rem 5rem 100rem;
margin-top: -1.4rem;}

.pagend-container {
  display: grid;
  grid-template-columns: 10fr 1fr;
  height: 11vh;
  padding: 0rem calc((100vw - 100px) / 2.1);}

.end-items {
  height:70px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;}

  .fb-end {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 1rem;
  transition: all 0.4s ease;}
  
.fb-end span {
z-index:1;}

.fb-end:hover {
    box-shadow: 0 0 20px red;}
  
.in-end {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 1rem;
    transition: all 0.4s ease;}
  
.in-end span {
z-index: 1}

.in-end:hover {
    box-shadow: 0 0 20px red;}
  
.wapp-end {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 1rem;
  transition: all 0.4s ease;}
  
.wapp-end span {
z-index: 1;}

.wapp-end:hover {
    box-shadow: 0 0 20px red;}

.infoe {
  background: #1e1e1e;}

  .infoe-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    height: 11vh;
    padding: 0rem calc((100vw - 100px) / 3);} 
  
  .infoe-items {
    height:32px;
    background: #1e1e1e;
    display: grid;
    justify-content: center;
    align-items: center;}
  
    .infoe-items txt {
      display: flex;
      padding: 0.3rem 0.4rem;
      border-radius: 0.3rem;
      font-style: oblique;
      font-size: 0.9rem;
      letter-spacing: 0.2px;
      height: 30px;
      text-decoration: underline;
      color: black;
      border: none;
      background: #c5c5c5;
      cursor: pointer;
      transition: all 0.2s ease;
      position: relative;}

.infoe-items txt span {
z-index: 1;}     
      
.infoe-items txt::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.2s ease;}

.infoe-items txt:hover {
  transition: all 0.2s ease;    
  background: white;
  box-shadow: 0 0 14px rgb(11, 157, 255);
letter-spacing: 0.7px;}

.infoe-items txt:hover::before {
  width: 100%;}

@media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;}
  }