* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;}

nav {
height: 70px;
background: #222222;
display: center;
align-items: center;}

.logo {
color: #cbcbcb;
font-size: 1.0rem;
font-weight: bold;
font-style: italic;
padding: 25px 1rem;}
        
.hero {
background: #1e1e1e;}

.navdesign {
display: flex;
justify-content: flex-start;}
        
.nav-bar-img {
width: 25.0rem;
height: 0.15rem;
border-radius: 5rem 5rem 100rem;
opacity: 60%;}
    
.bar-logo {
background: #222222;
display: flex;
justify-content: flex-start;}
    
.nav-image {
width: 25.0rem;
height: 0.5rem;
border-radius: 5rem 5rem 100rem;
margin-top: 3px;}

.hero-container {
display:block;
grid-template-columns: 1fr 1fr;
height: 370px;
padding: 2rem calc((100vw - 1300px) / 2);}
                  
.titlu {
display:flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;
color: #cbcbcb;
padding:1rem 1rem 2rem;}
                    
.titlu t1 {
font-size: 2.0rem;
color: white;}    

.desktop-ver {
display:flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;
color: #cbcbcb;
padding: 8px}
                
.desktop-ver a {
display: flex;
margin-bottom: 0.4rem;
padding: 0.4rem 2rem;
font-size: 1.3rem;
border: none;
color: #000;
background: #d4d1d1;
cursor: pointer;
border-radius: 5px;
text-decoration: none;
letter-spacing: 0.2px;
height: 35px;
transition: all 0.3s ease;
position: relative;}

.desktop-ver a span {
z-index: 1;}

.desktop-ver a::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.3s ease;}

.desktop-ver a:hover {
background: #ffffff;
color: #000;
transition: all 0.3s ease;
letter-spacing: 2.3px;}

.desktop-ver:hover::before {
width: 100%;}
 
.mobile-ver {
margin-top: 10px;
display:flex;
flex-direction: center;
justify-content: center;
align-items: flex-start;
color: #cbcbcb;
padding: 0rem 5rem;}

.mobile-ver a {
display: flex;
margin-bottom: 0.4rem;
padding: 0.4rem 2.5rem;
font-size: 1.3rem;
border: none;
color: #000;
background: #d4d1d1;
cursor: pointer;
border-radius: 5px;
text-decoration: none;
letter-spacing: 0.2px;
height: 35px;
transition: all 0.3s ease;
position: relative;}
                
.mobile-ver a span {
z-index: 1;}

.mobile-ver a::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.3s ease;}

.mobile-ver a:hover {
background: #ffffff;
color: #000;
transition: all 0.3s ease;
letter-spacing: 2.3px;}

.mobile-ver a:hover::before {
width: 100%;}
                
.pagend {
background: #222222;}
      
.end-logo {
display: flex; 
justify-content: flex-start;
margin-bottom: -0.2rem;}
      
.end-bar-image {
background: #222222;
width: 25.0rem; 
height: 0.5rem;
border-radius: 5rem 5rem 100rem;}
 
.pagend-container {
background: #222222;
display: center;
grid-template-columns: 11fr 1fr;
height: 6vh;
padding: 0rem calc((100vw - 100px) / 2.3);
margin-top: 20px;}

.end-logo2 {
display: flex; 
justify-content: flex-start;}

.end-bar-image2 {
background: #222222;
width: 25.0rem; 
height: 0.2rem;
border-radius: 5rem 5rem 100rem;
margin-bottom: 10px;
opacity: 60%;}

.socialdesign1 {
display: flex;
justify-content: flex-start;}

.bar-social1 {
display: flex;
align-content: flex-start;
width: 300px;
height: 2.5px;
border-radius: 5rem 5rem 100rem;
margin-top: -18.0px;
opacity: 60%;}

.end-items {
height:60px;
background: #222222;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -1.5rem;}

.fb-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
        
.fb-end span {
z-index:1;}
    
.fb-end:hover {
box-shadow: 0 0 20px red;}
        
.in-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
        
.in-end span {
z-index: 1}
    
.in-end:hover {
box-shadow: 0 0 20px red;}
        
.wapp-end {
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 1rem;
transition: all 0.4s ease;}
        
.wapp-end span {
z-index: 1;}
    
.wapp-end:hover {
box-shadow: 0 0 20px red;}

.socialdesign2 {
display: flex;
justify-content: flex-start;}
              
.bar-social2 {
width: 9rem;
height: 0.15rem;
border-radius: 5rem 5rem 100rem;
margin-top: -0.75rem;
opacity: 60%;} 

.infoe {
background: #222222;}
      
.infoe-container {
display: center;
grid-template-columns: 10fr 1fr;
height: 95px;} 
        
.infoe-items {
height: 32px;
background: #222222;
display: grid;
justify-content: center;
align-items: center;}
        
.infoe-items txt {
margin-top: 1px;
display: flex;
padding: 0.3rem 0.4rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.8rem;
letter-spacing: 0.2px;
height: 30px;
text-decoration: underline;
color: black;
border: none;
background: #c5c5c5;
cursor: pointer;
transition: all 0.2s ease;
position: relative;}
      
.infoe-items txt span {
z-index: 1;}     
            
.infoe-items txt::before {
content: "";
position: absolute;
height: 100%;
transition: all 0.2s ease;}
      
.infoe-items txt:hover {
transition: all 0.2s ease;    
background: white;
box-shadow: 0 0 14px rgb(11, 157, 255);
letter-spacing: 0.5px;}
      
.infoe-items txt:hover::before {
width: 100%;}

.essentials {
background: #222222;}

.essentials-container {
display: flex;
grid-template-columns: 11fr 1fr;
height: 20px;} 

.essentials-items {
background: #222222;
display: flex;
justify-content: space-between;
align-items: flex;}

.essentials rights {
margin-top: 0px;
display: flex;
padding: 0.3rem 0.4rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.6rem;
letter-spacing: 0.5px;
text-decoration: underline;
text-decoration-color: #222222;
color: white;}

.essentials ver {
margin-top: 0.1px;
display: flex;
padding: 0.3rem 0.4rem;
border-radius: 0.3rem;
font-style: oblique;
font-size: 0.6rem;
letter-spacing: 0.5px;
text-decoration: underline;
text-decoration-color: #222222;
color: white;}


@media screen and (max-width: 768px) {
.hero-container {
grid-template-columns: 1fr;}}